@charset "UTF-8";

#hero {  
  height: 100vh;
  background: url('Images/bmwm4gt3.jpg') no-repeat center center; 
  background-size: cover;
  background-attachment: fixed; 
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

#hero2{
  background-color: rgba(0, 0, 0, 0.5);
 
}

/* parralax scrolling effekt övanför med flexbox */

img {
  max-width: 100%;
  height: auto;
}
/* Gör så att bilder aldrig blir bredare än skärmen */ 



#motorsport{
    display: flex;
    align-items: center;
  padding: 20px;
  gap: 30px;

    /* för att lägga bilden så att den sitter med text och mellanrum med bild och text */
}

#motorsport img{
    width: 300px;
    height: auto;


    /* storlek och justering */
}

#modern{
    display: flex;
    align-items: flex-end;
    padding: 20px;
    gap: 30px;
}

  /* för att lägga bilden så att den sitter med text och mellanrum med bild och text */

#modern img{
    height: auto;

    
    /* storlek och justering */
}




section{
    padding: 40px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
/* 
  övanför mellanrum mellan grids och så att det ser bra ut. */

  #heritage{
    padding: 0px;
    margin: 15px;
  }

  /* Mellan rum mellan kollumner */

  #evo{
    padding: 0px;
    margin: 15px;
  }
    /* Mellan rum mellan kollumner */

  header h1{
    background-color: #2A2A2A;
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: fixed;

  }

  nav{
    background-color: #2A2A2A;
    padding: 15px 30px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    position: fixed;

  }

  nav a{
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;

  }

  nav a:hover{
   background-color:  grey;
  }


  footer{
    background-color: #2A2A2A;
    text-align: center;
    height: 100px;
    padding-top: 20px;
  }



  body {
    background-color: #221F1F;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  html, body {
    width: 100%;
    overflow-x: hidden;
  }

  /* Stoppar sidan från att kunna scrollas i sidled (horisontellt) */

/*   
  @media (max-width: 600px); */